

#main{
  background-color: rgb(142, 201, 102);
  box-sizing: border-box;
  height: 60vh;
  width: 50vw;
  margin: 10% 20% 10% 25%;

}

#str{
  margin: 10px 1px 10px 14rem;
}

#btn{
  margin :10px 1px 10px 13rem ;
}

#output{
  text-align: center;
  font-weight: 800;
  font-size: large;
}